/*  firefox puts scrollbars within padded area and shifts horizontally 1 pixel */

.haystack_backdrop_wrap div
{
	margin: 7px;
	width: 702px;
	height: 200px;
}

.haystack_backdrop_wrap pre
{
	padding: 0px 1px;
}
